<h3>Update Driver Details:</h3>
<div data-ng-controller="DriverController">
    <div>
      	<p>Add a new driver:</p>
     	<input type="text" data-ng-model="firstName"><br />
     	<input type="text" data-ng-model="lastName"><br />
     	<input type="text" data-ng-model="address"><br />
		<button data-ng-click="addDriver(firstName, lastName, address)">Add</button>
	</div>

  <div>
  	<p>List of drivers:</p>
   	<div>
     	<ul>
     		<li data-ng-repeat="entry in entries">
     			<span>{{entry.created | date:"MM/dd/yyyy 'at' h:mma"}}</span> |
     			<span>{{entry.firstname}}</span> |
     			<span>{{entry.lastname}}</span> |
     			<span>{{entry.address}}</span> |
     			<span>{{entry.id}}</span> |
     			<span><input type="button" value="x" data-ng-click="removeDriver(entry.id)" /></span>
   			</li>
     	</ul>
	</div>
 </div>
</div>