<h3>Update Trip Details</h3>
    <div>
       	<div>
       		<input type="text" ng-model='kmfrom'><br />
       		<input type="text" ng-model='kmto'><br />
       		<input type="text" ng-model='datestart'><br />
       		<input type="text" ng-model='dateend'><br />
       		<input type="text" ng-model='locationfrom'><br />
       		<input type="text" ng-model='locationto'><br />
       		
			<select data-ng-model="natureoftripid">
				<option data-ng-repeat="entry in allnatureoftrips" value="{{entry.id}}">{{entry.purpose}}</option>
			</select><br />
			<select data-ng-model="vehicleid">
				<option data-ng-repeat="entry in allvehicles" value="{{entry.id}}">{{entry.vehiclerego}}</option>
			</select><br />
			<select data-ng-model="driverid">
				<option data-ng-repeat="entry in alldrivers" value="{{entry.id}}">{{entry.firstname + ' ' + entry.lastname}}</option>
			</select><br />

			<button data-ng-click="updateTrip(entry.id, kmfrom, kmto, vehicleid, natureoftripid, driverid, datestart, dateend, locationfrom, locationto)">Update</button>
		</div>
	</div>
