<h3>View trips and edit selected</h3>
  <div>
   	<ul>
   		<li data-ng-repeat="entry in entries">
   			<p><a href='#/update/edittrip/{{entry.id}}'>From {{entry.locationfrom}} To {{entry.locationto}}</a> <span><input type="button" value="x" data-ng-click="removeTrip(entry.id)" class="btn btn-default" /></span></p>
   			<p>Odometer: {{entry.kmfrom}} km - {{entry.kmto}} km</p>
   			<p>Trip started {{entry.datestart | date:"MM/dd/yyyy 'at' h:mma"}} and ended {{entry.dateend | date:"MM/dd/yyyy 'at' h:mma"}}</p>
		</li>
   	</ul>
 </div>
 
